@model IEnumerable<WebApplicationGestionParcours.Models.Module>
<!--Razor-->
@foreach (var item in Model)
{
    <li>
        @Html.ActionLink(item.Libelle, "Details", "Modules",
       new { id = item.Id }, new { @class = "text-danger" })
    </li>

}
